body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('path_to_your_image.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column; /* Change flex direction to column */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  text-align: center;
  margin-bottom: 1.25rem; /* 20px */
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto; /* Center the form horizontally */
  justify-content: center; /* Center the items horizontally within the form */
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Add margin between input groups */
}

label {
  font-weight: bold;
}

input {
  padding: 5px;
  margin-top: 5px; /* Add margin between label and input */
  border: 1px solid #ddd;
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 0.625rem; /* 10px */
  border: 0.0625rem solid #ddd; /* 1px */
  border-radius: 0.3125rem; /* 5px */
}

input[type="submit"] {
  width: 100%;
  padding: 0.625rem; /* 10px */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.3125rem; /* 5px */
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.forgot-password {
  text-align: center;
  color: #333;
  text-decoration: none;
}
